---
title: Shop
layout: splash6
permalink: /shop
header:
  overlay_image: /images/header.webp
  overlay_filter: rgba(0, 0, 0, 0.6)


excerpt: "**Wettkampf-Anmeldung Powerlifting & Sportbekleidung**"
---

<section class="content">

  <h1 class="home-heading-one">Jetzt anmelden, ausstatten & durchstarten!</h1>

  {% assign coach_pass_signup = site.data.shop_competition_signups.signups | where: "gate_key", "coach_pass" | first %}
  {% assign massage = site.data.massage.teaser %}
  {% if coach_pass_signup or massage %}
    <br>
    <hr>

    <section id="wettkaempfe-preview" class="small-top-margin shop-section">
      <h1 class="shop-heading">Barbell Battle 2026 &ndash; Anmeldung &amp; Buchung</h1>

      <div class="shop-grid">
        {% if coach_pass_signup %}
          <div class="product-button-wrapper">
            {% include shop/competition_signup_card.html signup=coach_pass_signup %}
          </div>
        {% endif %}
        {% if massage %}
          <div class="product-button-wrapper" id="product-massage">
            {% include shop/product_card.html product=massage cta="Termin buchen" %}
          </div>
        {% endif %}
      </div>
    </section>

    <br>
    <hr>
  {% endif %}

  <section id="merch" class="shop-section">
    <h1 class="shop-heading">Sportbekleidung Fitness & Powerlifting</h1>

    <div class="shop-grid">
      {% for product in site.data.shop_merch.products %}
        <div class="product-button-wrapper" id="product-{{ product.key | replace: "_", "-" }}">
          {% include shop/product_card.html product=product cta="Details ansehen" %}
        </div>
      {% endfor %}
    </div>
  </section>

</section>
