---
title: Shop
layout: splash6
permalink: /shop
header:
  overlay_image: /images/header.webp
  overlay_filter: rgba(0, 0, 0, 0.6)


excerpt: "**Wettkampf-Anmeldung & Powerlifting-Merch**"
---

<section class="content">

  <h1 class="home-heading-one">Jetzt anmelden, ausstatten & durchstarten!</h1>

  <br>
  <hr>

  <section id="wettkaempfe" class="small-top-margin shop-section">
    <h1 class="shop-heading">Wettkampf-Anmeldungen</h1>

    <div class="shop-grid">

      <div class="product-button-wrapper">
        <div class="product-custom">
          <img src="/images/dl-only.webp" alt="Anmeldung Deadlift Only" class="product-image">
          <div class="product-title">Barbell Battle 2.0 Anmeldung: Deadlift-Only</div>
          <div class="product-price">55 €</div>
          <a href="/bb2-anmeldung-deadlift-only" class="btn btn--primary">Jetzt anmelden</a>
        </div>
      </div>

      <div class="product-button-wrapper">
        <div class="product-custom">
          <img src="/images/bench-only.webp" alt="Anmeldung Bench Only" class="product-image">
          <div class="product-title">Barbell Battle 2.0 Anmeldung: Bench-Only</div>
          <div class="product-price">55 €</div>
          <a href="/bb2-anmeldung-bench-only" class="btn btn--primary">Jetzt anmelden</a>
        </div>
      </div>

      <div class="product-button-wrapper">
        <div class="product-custom">
          <img src="/images/dl-and-bench.webp" alt="Anmeldung Deadlift & Bench" class="product-image">
          <div class="product-title">Barbell Battle 2.0 Anmeldung: Bench & Deadlift</div>
          <div class="product-price">85 €</div>
          <a href="/bb2-anmeldung-bench-and-deadlift" class="btn btn--primary">Jetzt anmelden</a>
        </div>
      </div>



    </div>

    <div class="notice--primary">
      <strong class="bigger">👕 Zeig, dass du dabei bist – dein offizielles Wettkampf-Shirt findest du direkt unten.</strong>
    </div>

    <div class="shop-grid">
      <div class="product-button-wrapper center-single-product">
        <div class="button-and-note">
          {% include shop/barbell_battle_comp_shirt.html %}
          <div class="product-note">
            <strong>Hinweis:</strong> Wenn du dein Shirt beim Wettkampf abholen möchtest, wähle beim Checkout „Abholung im Shop“.
          </div>
        </div>
      </div>
    </div>



  </section>

  <br>
  <hr>

  <section id="merch" class="shop-section">
    <h1 class="shop-heading">Merchandise & Weiteres</h1>

    <div class="shop-grid">

      <div class="product-button-wrapper">
        {% include shop/power_to_lift_shirt.html %}
      </div>

        <div class="product-button-wrapper">
        {% include shop/schokamoli-bar.html %}
      </div>
div class="product-button-wrapper">
        {% include shop/ Schokamoli bar salz.html %}
      </div>
      

    </div>
  </section>



</section>


