---
title: Shop
layout: splash
permalink: /shop
header:
  overlay_image: /images/header.webp
  overlay_filter: rgba(0, 0, 0, 0.6)


excerpt: "**Wettkampf-Anmeldung & Powerlifting-Merch**"
---

<section class="content">

  <h1 class="home-heading-one">Jetzt anmelden, ausstatten & durchstarten!</h1>

  <br>
  <hr>

  <section id="wettkaempfe" class="small-top-margin shop-section">
    <h1 class="shop-heading">Wettkampf-Anmeldungen</h1>

    <div class="shop-grid">
      <div class="product-button-wrapper">
        {% include shop/barbell_battle_2_dl_only.html %}
      </div>

      <div class="product-button-wrapper">
        {% include shop/barbell_battle_2_b_only.html %}
      </div>

      <div class="product-button-wrapper">
        {% include shop/barbell_battle_2_dl_and_bench.html %}
      </div>

    </div>
  </section>

  <br>
  <hr>

  <section id="merch" class="shop-section">
    <h1 class="shop-heading">Merchandise</h1>

    <div class="shop-grid">

    </div>
  </section>



</section>


