---
title: Wettkämpfe
layout: splash4
permalink: /wettkaempfe
header:
  overlay_image: /images/header.webp
  overlay_filter: rgba(0, 0, 0, 0.6)

  actions:
    - label: "Zukünftige Wettkämpfe"
      url: /wettkaempfe#future-competitions
      blank: false


gallery_dominating_barbells:
  - url: /images/dominating-barbells/1.webp
    image_path: /images/dominating-barbells/1s.webp
    alt: "Dominating Barbells Powerlifting Wettkampf"
  - url: /images/dominating-barbells/2.webp
    image_path: /images/dominating-barbells/2s.webp
    alt: "Dominating Barbells Powerlifting Wettkampf"
  - url: /images/dominating-barbells/3.webp
    image_path: /images/dominating-barbells/3s.webp
    alt: "Dominating Barbells Powerlifting Wettkampf"

gallery_barbell_battle:
  - url: /images/barbell-battle/1.webp
    image_path: /images/barbell-battle/1s.webp
    alt: "Barbell Battle Powerlifting Wettkampf"
  - url: /images/barbell-battle/2.webp
    image_path: /images/barbell-battle/2s.webp
    alt: "Barbell Battle Powerlifting Wettkampf"
  - url: /images/barbell-battle/3.webp
    image_path: /images/barbell-battle/3s.webp
    alt: "Barbell Battle Powerlifting Wettkampf"

gallery_fsc:
  - url: /images/fsc25/fitness-store-classic.webp
    image_path: /images/fsc25/fitness-store-classic.webp
    alt: "Fitness Store Classic Wettkampf"
  - url: /images/fsc25/fitness-store-classic-2.webp
    image_path: /images/fsc25/fitness-store-classic-2.webp
    alt: "Fitness Store Classic Wettkampf"
  - url: /images/fsc25/fitness-store-classic-3.webp
    image_path: /images/fsc25/fitness-store-classic-3.webp
    alt: "Fitness Store Classic Wettkampf"


excerpt: "**Sehe dir jetzt unsere vergangenen und bevorstehen Wettkämpfe an**"
---

<section class="content">

  <h1 class="home-heading-one">Vergangene Wettkämpfe</h1>
  <div class="box-container small-top-margin">
    <div class="box box--primary">
      <h3><i class="fas fa-dumbbell"></i> Dominating Barbells 2024</h3>
      <p>50 Athleten, 300 Zuschauer – ein Event voller beeindruckender Kraftleistungen.</p>
      <a href="https://www.instagram.com/dominating_barbells/" class="btn btn--primary" target="_blank" rel="noopener noreferrer nofollow">Mehr erfahren</a>
      {% include gallery id="gallery_dominating_barbells" %}
    </div>

    <div class="box box--primary">
      <h3><i class="fas fa-hand-rock"></i> Barbell Battle – Bench Only</h3>
      <p>März 2025 in der K2 Power Base, einem Studio des Peaks Isny: 30 Athleten, 150 Zuschauer, starke Bench-Performances.</p>
      <a href="https://www.instagram.com/peaksisny?igsh=MTNieGZ1bHF3NmE0MQ%3D%3D" class="btn btn--primary" target="_blank" rel="noopener noreferrer nofollow">Mehr erfahren</a>
      {% include gallery id="gallery_barbell_battle" %}
    </div>

    <div class="box box--primary">
      <h3><i class="fas fa-medal"></i> Fitness Store Classic Isny</h3>
      <p>September 2025. Mehr als 200 Athleten. Profi KDK und Bench Klassen. Powerlifting, Armwrestling und Griffkraft. Neuer German All Time Bench Record.</p>
      <a href="https://www.instagram.com/p/DOOfo61DeLw/" class="btn btn--primary" target="_blank" rel="noopener noreferrer nofollow">Mehr erfahren</a>
      {% include gallery id="gallery_fsc" %}
    </div>

     <div class="box box--primary">
      <h3><i class="fas fa-hand-rock"></i> Barbell Battle 2.0 </h3>
      <p>November 2025 in der K2 Power Base. Amateure- und Profishow im Bankdrücken und Kreuzheben. 2.000€ Preisgeld und unglaubliche Leistungen. Hier wurde Geschichte geschrieben und das war erst der Anfang...</p>
      <a href="https://www.instagram.com/peaksisny?igsh=MTNieGZ1bHF3NmE0MQ%3D%3D" class="btn btn--primary" target="_blank" rel="noopener noreferrer nofollow">Mehr erfahren</a>
      {% include gallery id="gallery_barbell_battle" %}
    </div>


  </div>

  <div class="sep-section with-bottom-margin small-top-margin">
    <br><br>
    <h1 id="future-competitions">Zukünftige Wettkämpfe</h1>
    <br>

    <div class="box small-top-margin">
      <img src="/images/barbell-battle-2-logo.webp" alt="Barbell Battle 2.0 Logo" style="max-width: 200px;">
      <h3><i class="fas fa-dumbbell"></i> Barbell Battle 2026 – Kraftdreikampf - Bench Only - Deadlift Only </h3>
      <p>The Battle calls again...</p>
      <p>10. Oktober 2026 in der K2 Power Base Isny: Amateure-und Profishow. 3.000€ Preisgeldpool.</p>
      <p>Anmeldung ab 19. April über den Onlineshop</p>
      <a href="https://www.instagram.com/dominating_barbells/" class="btn btn--dark" target="_blank" rel="noopener noreferrer nofollow">Mehr erfahren</a>
    </div>
    <br><br><br><br>
  </div>







</section>



