<footer class="page__footer">
  <div class="footer-container">
    <!-- Contact Section -->
    <div class="footer-column">
      <h4>Kontaktiere uns</h4>
      <p>
        Bist du dir unsicher oder hast du Fragen? Dann zögere nicht – wir sind für dich da! Nutze gerne unsere
        <a href="/kontakt">Kontaktseite</a> oder schreib uns direkt.
      </p>
      <p>
        <a href="mailto:dominating.barbells@gmail.com"><i class="fas fa-envelope colorful-icon"></i> dominating.barbells@gmail.com </a><br>
        <a href="https://www.instagram.com/dominating_barbells/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram colorful-icon"></i> Unkompliziert via Instagram</a>
      </p>
    </div>

    <!-- Links Section -->
    <div class="footer-column footer-links">
      <h4>Links</h4>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/ueber">Über uns</a></li>
        <li><a href="/angebote">Angebote</a></li>
        <li><a href="/wettkaempfe">Wettkämpfe</a></li>
        <li><a href="/kontakt">Kontakt</a></li>
      </ul>
    </div>

    <!-- Socials Section -->
    <div class="footer-column">
      <h4>Social</h4>
      <ul>
        <li><a href="https://www.instagram.com/dominating_barbells/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram colorful-icon"></i> Dominating Barbells</a></li>
        <li><a href="https://www.instagram.com/xre_aaron04/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram colorful-icon"></i> Headcoach Aaron</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; {{ site.time | date: '%Y' }} Dominating Barbells.<br> <a href="/imprint">Datenschutz & Impressum</a></p>
  </div>
</footer>
