---
title: 'Barbell Battle 2.0 Anmeldung: Bench & Deadlift'
layout: splash4
permalink: /bb2-zahlung-bench-and-deadlift-uc547vr
header:
  overlay_image: /images/header.webp
  overlay_filter: rgba(0, 0, 0, 0.6)

excerpt: " "

---

<section class="content">

  <h1 class="home-heading-one">Bezahlung deiner Anmeldung</h1>

  <br>
  <hr>

  <h3 class="center">Hol dir doch noch dein Wettkampf-Shirt dazu!</h3>
  <br>

  <div class="shop-grid">
    <div class="product-button-wrapper center-single-product">
      <div class="button-and-note">
        {% include shop/barbell_battle_comp_shirt.html %}
        <div class="product-note">
          <strong>Hinweis:</strong> Wenn du dein Shirt beim Wettkampf abholen möchtest, wähle beim Checkout „Abholung im Shop“.
        </div>
      </div>
    </div>
  </div>

  <br>
  <hr>

  <div class="shop-grid">
    <div class="product-button-wrapper">
      {% include shop/barbell_battle_2_dl_and_bench.html %}
    </div>
  </div>


</section>


