---
title: 'ARCHIVED Barbell Battle 2.0 Anmeldung: Bench-Only'
layout: splash
permalink: /bb2-zahlung-bench-only_x29xs3
header:
  overlay_image: /images/header.webp
  overlay_filter: rgba(0, 0, 0, 0.6)

excerpt: " "

---

<section class="content">

  <h1 class="home-heading-one">Bezahlung deiner Anmeldung</h1>
  <br>
  <hr>

  <div class="notice--primary">
    <p class="bigger center bold">
      <i class="fas fa-exclamation margin-right gold fa-lg"></i> Die Anmeldung wird abgeschlossen, indem du die Wettkampf-Anmeldung in den Warenkorb legst und bezahlst
    </p>
  </div>

  <h3 class="center">Hol dir doch noch dein Wettkampf-Shirt dazu!</h3>
  <br>

  <div class="shop-grid">
    <div class="product-button-wrapper center-single-product">
      <div class="button-and-note">
        {% include shop/barbell_battle_comp_shirt_cross_sell.html %}
        <div class="product-note">
          <strong>Hinweis:</strong> Wenn du dein Shirt beim Wettkampf abholen möchtest, wähle beim Checkout „Abholung im Shop“.
        </div>
      </div>
    </div>
  </div>

  <br>
  <hr>

  <div class="shop-grid">
    <div class="product-button-wrapper">
      {% include shop/barbell_battle_2_b_only.html %}
    </div>
  </div>



  <div class="notice--primary">
    <strong>Probleme bei der Anmeldung?</strong><br>
    Schreib mir einfach kurz <a href="https://wa.link/6abzb0" target="_blank" rel="noopener noreferrer nofollow">
    auf WhatsApp</a> – ich melde mich innerhalb von 24 Stunden bei dir!
    <br><br>
  </div>

</section>


